<section class="section-hero">
    <div class="container hero-container">
        <div>
            <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
            <p class="hero-description">
                With just a few clicks, you can have your favorite meals delivered
                straight to your doorstep, no matter where you are. Order now and
                enjoy a hassle-free and delicious meal from the comfort of your
                own home.
            </p>

            <button class="btn-order-hero" type="button" data-modal-open>
                Order Now
            </button>
        </div>

        <div class="hero-border-img">
            <img class="hero-img" src="./img/salad.png" alt="salat" width="528" height="528" />
        </div>
    </div>
</section>